<div class="url_card">
    <a class="from_url" target="_blank" href='{{ path('redirectHandler', {'slug': source}) }}'>
    	{{ source }}
    </a>
    <div class="to_url">{{ destination }}</div>
</div>